* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.con {
    width: 966px;
    margin: 0 auto;
}

.header {
    height: 110px;
}

.logo {
    float: left;
    /* 
        可以使用 background 做出一样的效果
    */
    /* width: 265px;
    height: 110px;
    background-image: url(../pic/安利/logo.png);
    background-repeat: repeat;
    background-position: center;
    background-size: 265px 110px; */
}

.logo>img {
    width: 265px;
    height: 110px;
    /* 
        必须设置display: block;
        由于img和div不是同类型元素，彼此之间会有缝隙，
        会对整体布局造成不利影响
    */
    display: block;
}

.headerright {
    float: right;
}

.headerright ul {
    height: 44px;
    margin-top: 10px;
    line-height: 44px;
}

.headerright li {
    float: left;
}

.headerright li a {
    border-right: 2px solid #b2c7ea;
    padding: 0 13px;
    font-size: 13px;
    color: #ababab;
}

.headerright .last {
    border-right: 0px;
    padding-right: 0px;
}

.headerright li .active {
    color: #eb6ca1;
}

.search {
    float: right;
    width: 234px;
    height: 28px;
    border: 1px solid #d1d1d1;
    background-color: lightgreen;
}

.search input {
    border: 0;
    /* 去掉input边框 */
    outline: none;
}

.search .left {
    width: 196px;
    height: 28px;
    float: left;
    padding-left: 14px;
    background-color: inherit;
}

.search .right {
    float: right;
    width: 24px;
    height: 28px;
    background-color: inherit;
    background-image: url(../pic/安利/放大镜.webp);
    background-repeat: no-repeat;
    /* background-position: left center; */
    background-size: 24px 24px;
}

.nav {
    height: 53px;
    line-height: 53px;
    border-top: 1px solid #657588;
    background-color: #0c345c;
    color: #fff;
}

.nav li {
    float: left;
    font-size: 16px;
    margin-right: 76px;
}

.banner {
    height: 380px;
    background-image: url(../pic/安利/banner.jpg);
    background-repeat: no-repeat;
    background-position: left center;
}

.list {
    height: 213px;
    margin-top: 51px;
    margin-bottom: 35px;
}

.list .item {
    width: 305px;
    height: 211px;
    border: 1px solid #ccc;
    float: left;
    margin-right: 19px;
}

.list .item img {
    width: 305px;
    height: 164px;
    display: block;
}

.list .item p {
    height: 47px;
    line-height: 47px;
    padding-left: 28px;
    font-size: 16px;
}

.list .itemlast {
    margin-right: 0;
}

.footer {
    height: 206px;
    border-top: 1px solid #ccc;
    background-color: #f6f6f6;
}

.footer ul {
    height: 84px;
    padding: 30px 0px;
    border-bottom: 1px solid #ecebeb;
    line-height: 28px;
}

.footer ul li {
    width: 210px;
    padding-left: 30px;
    font-size: 12px;
    color: #336699;
    float: left;
}

.footer p {
    height: 61px;
    line-height: 61px;
    padding-left: 30px;
    font-size: 12px;
}

.footer p span {
    color: #0096da;
}